@import "public";
@import "mixin";

body {
    min-width: 1280px;
}

header {
    width: 100%;
    height: 47px;
    background-color: #004290;

    .header-c {
        width: 1280px;
        height: 100%;
        margin: 0 auto;

        .lefticon {
            padding-top: 15px;

            a {
                display: block;
                float: left;
                width: 20px;
                height: 20px;
                padding-right: 8px;
                @include href-a;
                color: #fff;

                &:hover {
                    color: #bbb;
                }

            }

            .icon-news {
                margin-left: 20px;
            }

            .right {
                float: right;

                a {
                    text-align: center;
                    padding: 0;
                    display: block;
                    width: 80px;
                }
            }
        }

    }
}

.head {
    text-align: center;
    height: 147px;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid rgb(231, 231, 231);

    h1 {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        width: 293px;
        height: 54px;
        background: url(../images/logo-1.png)center no-repeat;
        text-indent: -9999px;
    }

    nav {
        @include clearBoth;
        width: 980px;
        font-size: 24px;
        margin: 0 auto;
        margin-bottom: 15px;

        li {
            padding: 8px 15px;
            float: left;
            display: block;

            &:hover {
                color: #535353;
            }

            &:hover .sub-menu {
                display: block;
                z-index: 2;
            }

            span {
                padding: 0 10px;
                font-size: 24px;

                &:hover {
                    color: #aaa;
                }
            }

            .sub-menu {
                display: none;
                margin-top: 20px;
                position: absolute;
                padding: 20px 5px;
                color: #fff;
                background-color: #004290;

                ul {
                    @include clearBoth;
                    width: 248px;

                    li {
                        width: 100%;
                        font-size: 14px;
                        text-align: left;
                    }
                }

            }

            #userlogin {
                color: #000;
            }
        }


    }
}


.swiper-container,
.swiper-wrapper,
.swiper-slide {
    width: 1436px;
    height: 400px;

    img {
        width: 100%;
        height: 100%;
    }

    .swiper-pagination span {
        height: 13px;
        width: 13px;
        background-color: #fff;
    }
}

.main {
    width: 1280px;

    margin: 0 auto;
    @include clearBoth;

    .recommended {
        position: relative;
        padding-top: 200px;
        box-sizing: border-box;
        margin: 0 auto;
        width: 1123px;
        height: 1324px;
        background: url(../images/recommended.jpg) no-repeat;
        background-origin: border-box;

        div {
            // position: absolute;
            float: left;

            a {
                display: block;
                width: 100%;
                height: 100%;
                // background-color: blue;
            }

            &:nth-child(1) {
                width: 425px;
                height: 400px;
                margin-right: 20px;
            }

            &:nth-child(2) {
                width: 665px;
                height: 408px;
            }

            &:nth-child(3) {
                width: 425px;
                height: 620px;
                margin-right: 20px;

                a {
                    box-sizing: border-box;
                    float: left;

                    &:nth-child(1) {
                        width: 100%;
                        height: 140px;
                    }

                    &:nth-child(2) {
                        width: 212px;
                        height: 240px;
                    }

                    &:nth-child(3) {
                        width: 210px;
                        height: 240px;
                    }

                    &:nth-child(4) {
                        width: 210px;
                        height: 240px;
                    }

                    &:nth-child(5) {
                        width: 210px;
                        height: 240px;
                    }
                }

            }

            &:nth-child(4) {
                width: 310px;
                height: 620px;
                margin-right: 20px;
            }

            &:nth-child(5) {
                width: 340px;
                height: 620px;
            }


        }
    }

    .category {
        width: 1154px;
        height: 302px;
        margin: 0 auto 40px;
        background: url(../images/champion分类.jpg) no-repeat;

        a {
            display: inline-block;
            width: 16%;
            height: 100%;
        }
    }

    .featured {
        width: 1169px;
        height: 669px;
        background: url(../images/champion精选系列.jpg) no-repeat;
        margin: 0 auto;

        div {
            width: 100%;
            height: 150px;
        }

        a {
            display: inline-block;
            height: 519px;
            margin: 0 15px;
            width: 260px;

            &:nth-child(2) {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
                margin-left: 25px;
            }
        }


    }

    .goods-c {
        border: 1px solid red;


        ol {
            @include clearBoth;
            margin: 20px 0 40px;

            li {
                color: #777777;
                font-size: 18px;
                float: left;

                &:first-child {
                    margin-right: 17px;
                }

                span {
                    margin: 0 17px;
                }

            }
        }
    }
}

footer {
    .customerService {
        padding: 95px 0 15px 0;
        border-top: 1px solid rgb(218, 218, 218);


        ul {
            width: 1250px;
            margin: 0 auto;
            @include clearBoth;

            li {
                width: 620px;
                height: 216px;
                float: left;

                span {
                    font-size: 64px;
                }

                div p {
                    text-align: center;
                    color: #777;
                    font-size: 14px;
                    line-height: 28px;
                    height: 28px;
                }
            }
        }
    }

    .about {
        background-color: #004290;
        box-sizing: border-box;
        padding: 30px 0;

        div {
            width: 1280px;
            margin: 0 auto;

            img {
                display: block;
                margin: 0 auto;
            }

            ul {
                width: 840px;
                @include clearBoth;
                margin: 20px auto;

                li {
                    width: 120px;
                    float: left;
                    color: #fff;
                    font-size: 14px;
                    height: 14px;
                    text-align: center;

                }
            }

            ol {
                width: 120px;
                @include clearBoth;
                margin: 0 auto;

                li {
                    width: 40px;
                    text-align: center;
                    float: left;

                    a {
                        text-decoration: none;
                        color: #ED3838;
                    }
                }
            }
        }
    }
}