@import "public";
@import "mixin";

body {
    min-width: 1280px;
}

header {
    width: 100%;
    height: 47px;
    background-color: #004290;

    .header-c {
        width: 1280px;
        height: 100%;
        margin: 0 auto;

        .lefticon {
            padding-top: 15px;

            a {
                display: block;
                float: left;
                width: 20px;
                height: 20px;
                padding-right: 8px;
                @include href-a;
                color: #fff;

                &:hover {
                    color: #bbb;
                }

            }

            .icon-news {
                margin-left: 20px;
            }

            .right {
                float: right;

                a {
                    text-align: center;
                    padding: 0;
                    display: block;
                    width: 80px;
                }
            }
        }

    }
}

.head {
    padding-top: 20px;
    text-align: center;
    height: 137px;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid rgb(231, 231, 231);

    h1 {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        width: 293px;
        height: 54px;
        background: url(../images/logo-1.png)center no-repeat;
        text-indent: -9999px;
    }

    nav {
        @include clearBoth;
        width: 980px;
        font-size: 24px;
        margin: 0 auto;
        margin-bottom: 15px;

        li {
            padding: 8px 15px;
            float: left;
            display: block;

            &:hover {
                color: #535353;
            }

            &:hover .sub-menu {
                display: block;
                z-index: 2;
            }

            span {
                padding: 0 10px;
                font-size: 24px;

                &:hover {
                    color: #aaa;
                }
            }

            .sub-menu {
                display: none;
                margin-top: 20px;
                position: absolute;
                padding: 20px 5px;
                color: #fff;
                background-color: #004290;

                ul {
                    @include clearBoth;
                    width: 248px;

                    li {
                        width: 100%;
                        font-size: 14px;
                        text-align: left;
                    }
                }

            }

            .container {
                display: none;
                height: 97px;
                width: 100%;
                background-color: rgb(241, 241, 241);
                box-sizing: border-box;
                padding: 29px 20px;
                position: absolute;
                top: 0;
                left: 0;

                .col-sm-1 {
                    padding: 0;
                }

                .searchgoods-f {
                    position: relative;

                    .searchgoods {
                        background-color: rgb(241, 241, 241);
                        border: none;
                        border-bottom: 1px solid #CCC;
                        box-shadow: none;
                        border-radius: 0;
                        font-size: 20px;
                        padding: 8px 4px;
                    }

                    .search-list {
                        display: none;
                        z-index: 3;
                        padding: 0 10px;
                        font-size: 16px;
                        width: 200px;
                        position: absolute;
                        top: 33px;
                        border: 1px solid rgb(192, 192, 192);
                        background-color: rgb(241, 241, 241);

                        li {
                            border-bottom: 1px solid rgb(228, 226, 226);
                            float: none;
                        }
                    }
                }

            }

            #userlogin {
                color: #000;
            }
        }


    }
}

.main {
    background-color: #EAE8DF;
    padding-bottom: 30px;

    .main-c {
        width: 1250px;
        margin: 0 auto;
        padding-top: 20px;

        .site {
            span {
                padding: 0 10px;
            }

            color: rgb(129, 129, 129);
        }

        .details {
            margin-top: 20px;
            @include clearBoth;

            .magnifier {
                z-index: 2;
                width: 300px;
                height: 300px;
                overflow: hidden;
                position: absolute;
                top: 30%;
                left: 50%;
                display: none;

                img {
                    width: 986px;
                    height: 986px;
                    position: absolute;
                }
            }

            .left-pic {
                position: relative;
                width: 493px;
                float: left;

                .mask {
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    background-color: rgb(151, 151, 151);
                    top: 0;
                    left: 0;
                    opacity: .5;
                    display: none;
                }

                img {
                    width: 493px;
                    height: 493px;
                }
            }

            .right-txt {
                padding-left: 92px;
                float: left;
                font-size: 18px;

                .title {
                    font-size: 26px;
                    color: #000;
                }

                b {
                    line-height: 50px;
                    color: #dc9814;
                }

                .origin {
                    margin: 10px 0 20px;
                    color: #777;
                }

                .panel {
                    background-color: transparent;
                    margin-bottom: 0;
                    border-radius: 0;

                    .panel-body {
                        padding: 10px 0;
                    }
                }

                .form-group {
                    .col-sm-3 {
                        margin-top: 4px;
                    }

                    .col-sm-9 {
                        .btn {
                            background-color: transparent;

                        }
                    }

                    .col-sm-8 {
                        .pull-right {
                            .number-l {
                                float: left;
                                display: block;
                                border: 8px solid transparent;
                                border-right-color: #000;
                                margin: 4px 10px 0 10px;

                            }

                            .number {
                                margin: 0 10px;
                            }

                            .number-a {
                                float: right;
                                display: block;
                                border: 8px solid transparent;
                                border-left-color: #000;
                                margin: 4px 10px 0 10px;
                            }
                        }

                    }

                    margin-bottom: 0;
                }

                .btn-car {
                    width: 100%;
                    color: #fff;
                    background-color: #333;
                }

                .share {
                    margin-top: 50px;
                    border: none;

                    a {
                        padding: 10px 10px;
                    }
                }
            }
        }
    }
}

footer {
    .customerService {
        padding: 65px 0 35px 0;
        border-top: 1px solid rgb(218, 218, 218);


        ul {
            width: 1250px;
            margin: 0 auto;
            @include clearBoth;

            li {
                width: 620px;
                height: 216px;
                float: left;

                span {
                    font-size: 64px;
                }

                div p {
                    text-align: center;
                    color: #777;
                    font-size: 14px;
                    line-height: 28px;
                    height: 28px;
                }
            }
        }
    }

    .about {
        background-color: #004290;
        box-sizing: border-box;
        padding: 30px 0;

        div {
            width: 1280px;
            margin: 0 auto;

            img {
                display: block;
                margin: 0 auto;
            }

            ul {
                width: 840px;
                @include clearBoth;
                margin: 20px auto;

                li {
                    width: 120px;
                    float: left;
                    color: #fff;
                    font-size: 14px;
                    height: 14px;
                    text-align: center;

                }
            }

            ol {
                width: 120px;
                @include clearBoth;
                margin: 0 auto;

                li {
                    width: 40px;
                    text-align: center;
                    float: left;

                    a {
                        text-decoration: none;
                        color: #ED3838;
                    }
                }
            }
        }
    }
}